* {
    box-sizing: border-box;
  }

  body {
    /* viewport units: vh (viewport height), vw, vmin (smallest between vh & vw) */
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* header {
    font-size: 4vmin;
    color: darkgrey;
    letter-spacing: 1vmin;
  } */
  
  h1 {
    color: rgb(172, 27, 107);
    font-size: 12vmin;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  h2 {
    color: rgb(125, 47, 90);
    font-size: 6vmin;
    padding: 5px;
    margin: 0px;
    border-top-style: double;
    border-bottom-style: double;
  }

  h3 {
    color: rgb(243, 103, 180);
    font-size: 6vmin;
    font-stretch: semi-expanded;
  }

#playerChoice {
  display: flex;
  justify-content: center;
  gap: 30px; /*this is supposed to put a gap between the buttons*/
  margin-bottom: 30px;

  @media screen {
    #playerChoice {
      flex-direction: column;
      align-items: center;
      /*learned about this when I tried looking it up online */
    }
  }
}

.playerChoiceButton {
    /* display: inline-block;  */
    /* commented out because switching to flex-box so it displays on phones
    notice it in the ID above*/
    background-color: pink;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    margin: 15px;
    /* border: black; */
    cursor: pointer;
  }